<!-- tabs.component.html -->
<div class="max-w-7xl mx-auto p-4 mt-36">
  <!-- Tab Buttons -->
  <div class="flex border-gray-200 justify-center">
    <button
      (click)="setActiveTab('portraits')"
      [class]="
        activeTab === 'portraits'
          ? 'px-4 py-2 font-medium text-2xl border-b-2 border-yellow-400 text-yellow-400'
          : 'px-4 py-2 font-medium text-2xl text-black hover:text-gray-700'
      "
    >
      PORTRAITS
    </button>
    <button
      (click)="setActiveTab('events')"
      [class]="
        activeTab === 'events'
          ? 'px-4 py-2 font-medium text-2xl border-b-2 border-yellow-400 text-yellow-400'
          : 'px-4 py-2 font-medium text-2xl text-black hover:text-gray-700'
      "
    >
      EVENTS
    </button>
  </div>

  <!-- Tab Content -->
  <div class="py-4">
    <div *ngIf="activeTab === 'portraits'" class="p-4 flex justify-center">
      <div class="" *ngFor="let portrait of portraits">
        <div
          class="w-80 h-92 text-white transition duration-300 hover:scale-110"
        >
          <img class=" " [src]="portrait.imgUrl" alt="" />
          <!-- <h2 class="text-xl font-bold mb-4">Portraits Content</h2>
            <p>This is where your portraits content would go.</p> -->
        </div>
      </div>
    </div>

    <div *ngIf="activeTab === 'events'" class="p-4 flex justify-center">
      <div class="" *ngFor="let event of events">
        <div
          class="w-80 h-92 text-white transition duration-300 hover:scale-110"
        >
          <img class=" " [src]="event.imgUrl" alt="" />
          <!-- <h2 class="text-xl font-bold mb-4">Portraits Content</h2>
                <p>This is where your portraits content would go.</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
