<div class="bg-yellow-50 w-screen h-screen">
  <div class="grid grid-cols-1 md:grid-cols-12 flex items-center h-full">
    <div class="w-full col-span-6 py-40 px-10 md:p-10">
      <h1 class="py-4 font-bold text-3xl sm:text-4xl">ABOUT ETHERSCXPE</h1>
      <p>
        Etherscxpe began as a solo journey—Bonolo Solomon, a musician with a
        passion for visual storytelling, picked up a camera in 2018 to craft
        professional images for his music brand. What started as a necessity
        soon became an obsession. Through relentless practice and an artist’s
        eye, Bonolo’s photography evolved, capturing not just images but
        emotions and narratives.
        <br />
        <br />
        Word spread. Clients—drawn to his unique ability to freeze moments with
        authenticity—began asking for more. From intimate portraits to vibrant
        event coverage, each project reinforced a truth: a picture doesn’t just
        speak; it tells a thousand words.
        <br />
        <br />
        Today, Etherscxpe is a testament to that philosophy. We’ve expanded
        beyond photography into graphic and web design, but our core remains
        unchanged—transforming ideas into visual stories that resonate. Whether
        through a lens, a logo, or a website, we’re here to make your vision
        seen, felt, and remembered.
      </p>

      <button
        class="h-10 my-4 px-6 bg-black text-white text-sm hover:bg-gray-900 transition holographic-card gap-x-2"
        routerLink="/packages"
        download
      >
        <span>DOWNLOAD PDF PORTFOLIO</span>
        <img
          width="20"
          height="20"
          src="https://img.icons8.com/material-rounded/50/FFFFFF/download--v1.png"
          alt="download--v1"
        />
      </button>
    </div>
    <div class="w-full col-span-6 flex justify-center">
      <div class="w-3/6">
        <img src="/IMG_4469.jpg" alt="" class="" />
      </div>
    </div>
  </div>
</div>
