<div class="bg-yellow-50 w-screen h-screen">
  <div class="grid grid-cols-1 md:grid-cols-12 flex items-center h-full">
    <div class="w-full col-span-6 py-40 px-10 md:p-10">
      <h1 class="py-4 font-bold text-2xl">ABOUT ETHERSCXPE</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec dui
        at dui accumsan condimentum at eget odio. Donec nec lorem eu velit
        ullamcorper bibendum. Sed tempor vestibulum augue, vestibulum congue
        nibh efficitur eget. Nam libero nulla, posuere nec fringilla non,
        sollicitudin at risus. Ut eget sollicitudin nibh. Aenean ligula ex,
        convallis ac turpis a, gravida bibendum nisi. Morbi dapibus ante at
        magna porta feugiat. Aenean quis mollis libero. Vestibulum porta metus
        et ante varius viverra. Cras blandit mattis lacus, vel commodo dui. Ut
        accumsan commodo aliquam. Donec in est bibendum, dictum lorem quis,
        maximus massa. Nullam dolor enim, pulvinar viverra eros vel, placerat
        consectetur tellus. Pellentesque pretium ipsum non sapien lobortis
        eleifend.
      </p>
    </div>
    <div class="w-full col-span-6 flex justify-center">
      <div class="w-90 h-90 bg-black">
        <img src="" alt="" />
      </div>
    </div>
  </div>
</div>
