<div class="bg-yellow-50 w-screen h-screen">
  <div class="grid grid-cols-1 md:grid-cols-12 flex items-center h-full">
    <div class="w-full col-span-6 py-40 px-10 md:p-10">
      <h1 class="py-4 font-bold text-3xl sm:text-4xl">ABOUT ETHERSCXPE</h1>
      <p>
        Etherscxpe is a dynamic creative agency specializing in graphic design
        and web development services, helping businesses and individuals bring
        their digital vi sions to life. With a passion for innovation and
        aesthetics, we craft visually stunning graphics,brand identiti es, and
        user-friendly websites that leave a lasting impact.Whether you need a
        sleek business website, an engaging e-commerce platform, or captivating
        marketing materials, Etherscxpe delivers high-quality soluti ons
        tailored to your unique needs.

        <br />
        <br />

        Our team of skilled designers and developers combines creativity with
        technical expertise to build modern, responsive, and functional digital
        experiences.At Etherscxpe,we prioriti ze client satisfacti on by
        offering personalized design solutions that enhance brand presence and
        elevate online engagement. From logo creation and UI/UX design to
        full-scale web development, we ensure every project reflects
        professionalism and creativi ty. Let Etherscxpe be your partner in
        transforming ideas into compelling digital experiences  
      </p>

      <button
        class="h-10 my-4 px-6 bg-black text-white text-sm hover:bg-gray-900 transition holographic-card gap-x-2"
        routerLink="/packages"
      >
        <span>DOWNLOAD PDF PORTFOLIO</span>
        <img
          width="20"
          height="20"
          src="https://img.icons8.com/material-rounded/50/FFFFFF/download--v1.png"
          alt="download--v1"
        />
      </button>
    </div>
    <div class="w-full col-span-6 flex justify-center">
      <div class="w-90 h-90 bg-black">
        <img src="" alt="" />
      </div>
    </div>
  </div>
</div>
