<div class="w-screen h-screen bg-yellow-50" id="packages">
  <div class="content-center text-black space-y-4 w-full h-auto px-20">
    <h1 class="text-3xl sm:text-4xl text-center font-bold mt-40 mb-20">BOOKING POLICY</h1>

    <div class="content-center gap-10">
      <div class="w-full space-y-4">
        <div class="flex justify-center">
          <div
            class="w-1/2 h-90 bg-gray-100 p-10 content-center text-2xl transition duration-300 hover:scale-110"
          >
            <ol class="space-y-2">
              <li>Transport fee will be negotiated based on distance.</li>
              <li>You get the images within 3 days after photoshoot.</li>
              <li>
                We ONLY do prints if a client requests, addtional cost will
                incurr.
              </li>
              <li>Additional hours are priced at R200 per hour</li>
              <li>
                At least 50% deposit must be paid 3 days before photoshoot.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
