<div class="w-screen h-screen bg-yellow-50" id="packages">
  <div class="content-center text-black space-y-4 w-full h-auto px-20">
    <h1 class="text-3xl sm:text-4xl text-center font-bold mt-40 mb-20">
      BOOKING POLICY
    </h1>

    <div class="content-center gap-10">
      <div class="w-full space-y-4">
        <div class="flex justify-center">
          <div class="w-1/2 h-90 bg-black p-10 content-center text-lg">
            <h2 class="text-white font-bold mb-8">
              CONFIRMING THE BOOKING MEANS YOU AGREE TO THE FOLLOWING TERMS
            </h2>
            <ol class="space-y-2 list-disc text-white font-normal">
              <li>No transport fee for photoshoot within 20KM</li>
              <li>You get the images within 3 days after the photoshoot</li>
              <li>
                We only do prints if a client request, with additional costs
              </li>
              <li>Additional hours are priced at R200 per hour.</li>
              <li>
                At least 50% deposit must be paid 3 days before photoshoot
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
