<!-- <div class="navbar flex items-center justify-center space-x-4 md:space-x-20 bg-base-100 bg-opacity-0 font-semibold fixed">
    <button class="text-sm md:text-xl transform  hover:text-gray transition duration-500 hover:scale-125 hover:text-gray"  (click)="scrollToSection('home')">Home</button>
    <button class="text-sm md:text-xl transform  hover:text-gray transition duration-500 hover:scale-125 hover:text-gray" (click)="scrollToSection('about')">About</button>
    <button class="text-sm md:text-xl transform  hover:text-gray transition duration-500 hover:scale-125 hover:text-gray" (click)="scrollToSection('projects')">Projects</button>
    <button class="text-sm md:text-xl transform  hover:text-gray transition duration-500 hover:scale-125 hover:text-gray" (click)="scrollToSection('contacts')">Contacts</button>
  </div> -->

<div class="w-screen fixed">
  <div class="grid grid-cols-12 navbar bg-black w-full h-32 p-10">
    <div class="col-span-4 text-white flex items-center">
      <div>
        <h1 class="text-3xl">
          ETHERSCXPE <span style="font-weight: lighter">| PHOTOGRAPHY</span>
        </h1>
        <p class="text-sm">SIMPLE & ELEGANT PHOTOGRAPHY</p>
      </div>
    </div>
    <div class="col-span-8 text-white text-end flex items-center">
      <div class="space-x-16">
        <button
          class="text-sm md:text-xl transform hover:text-gray transition duration-500 hover:scale-125 hover:text-gray"
          (click)="scrollToSection('home')"
        >
          HOME
        </button>
        <button
          class="text-sm md:text-xl transform hover:text-gray transition duration-500 hover:scale-125 hover:text-gray"
          (click)="scrollToSection('about')"
        >
          PACKAGES
        </button>
        <button
          class="text-sm md:text-xl transform hover:text-gray transition duration-500 hover:scale-125 hover:text-gray"
          (click)="scrollToSection('projects')"
        >
          PORTFOLIO
        </button>
        <button
          class="text-sm md:text-xl transform hover:text-gray transition duration-500 hover:scale-125 hover:text-gray"
          (click)="scrollToSection('contacts')"
        >
          ABOUT
        </button>
        <button
          class="text-sm md:text-xl transform hover:text-gray transition duration-500 hover:scale-125 hover:text-gray"
          (click)="scrollToSection('contacts')"
        >
          BOOKING POLICY
        </button>

        <button
          class="text-sm md:text-xl transform hover:text-gray transition duration-500 hover:scale-125 hover:text-gray"
          (click)="scrollToSection('contacts')"
        >
          FAQ
        </button>
        <button
          class="text-sm md:text-xl transform hover:text-gray transition duration-500 hover:scale-125 hover:text-gray"
          (click)="scrollToSection('contacts')"
        >
          CONTACTS
        </button>
      </div>
    </div>
  </div>
</div>
