<div class="w-screen bg-black h-screen" id="faq">
  <div
    class="content-center text-white space-y-4 w-full h-full flex justify-center items-center"
  >
    <div class="text-center">
      <h1 class="text-4xl font-bold">FREQUENTLY ASKED QUESTIONS</h1>
      <p>
        This page will be available soon, it will show the common questions we
        get from our clients.
      </p>
      <button
        class="p-2 border-white rounded-lg border-2 mt-6 mb-2"
        routerLink="/about"
      >
        LEARN MORE
      </button>
      <p class="text-sm text-yellow-600">Learn more about etherscxpe</p>
    </div>

    <!-- <div
      class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 rounded-lg w-96 h-auto"
    >
      <div class="p-4">
        <h5 class="mb-2 text-slate-800 text-xl font-semibold">
          Website Review Check Update from Our Team in San Francisco
        </h5>
        <p class="text-slate-600 leading-normal font-light">
          The place is close to Barceloneta Beach and bus stop just 2 min by
          walk and near to Naviglio where you can enjoy the main night life in
          Barcelona.
        </p>
      </div>
    </div> -->
  </div>
</div>
